**/*.aux
**/*.log
**/*.toc
**/*.pdf
**/*.bcf
**/*.run.xml

blend_files/img
**.blend1

.pytest_cache/

# Pycharm user-specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries

venv/
