**/*.aux
**/*.log
**/*.toc
**/*.pdf
**/*.bcf
**/*.run.xml
**/

renders/**/*.png
**.blend1

.pytest_cache/
**/__pycache__/

# Pycharm user-specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries

venv/
